@{
    ViewBag.Title = "Home Page";
}


    <head>
        <link rel="stylesheet" href="~/Content/Index_Styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

<div id="Intro" class="jumbotron">
    <h1>Dungeons and Dragons</h1>
    <p class="lead">Action Consequence Generator</p>
</div>

<div id="Initial_Container" class="jumbotron">
    <h3>Select the Number of Players In Your Campaign and Enter Your Party's Information</h3>
    <br />
    <select name="numNames" id="numNames" onclick="ShowSubmitButton()">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <br />
    <br />
    <Form>
        <div id="Apend_Container"></div>
        <input type="submit" id="Submit_Initial_Data" />
    </Form>
</div>
<div id="Calculation_Container" class="jumbotron">
    <h3>Select Who Commited The Action</h3>
    <br />
    <select name="WhoDidIt" id="WhoDidIt">
        <option value="Team">Team</option>
    </select>
    <br />
    <h3>Enter The Action Consequence Value</h3>
    <br />
    <select name="FibVal" id="FibVal">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
        <option value="21">21</option>
        <option value="34">34</option>
        <option value="55">55</option>
    </select>
    <br />
    <h3>Enter A short Phrase Of The Event That Took Place</h3>
    <br />
    <input type="text" id="UserEvent"/>
    <input type="submit" id="Submit_Calculation_Data" />
</div>

<script>
    //Elemenst being hidden on Page load
    document.getElementById("Calculation_Container").style.display = "none";
    document.getElementById("Submit_Initial_Data").style.display = "none";

    //Submit button for characters number from 1->6
    function ShowSubmitButton() {
        var Value = $('#numNames').find(":selected").text();

        if (Value == "0" || Value == null) {
            document.getElementById("Submit_Initial_Data").style.display = "none";
        }
        else {
            document.getElementById("Submit_Initial_Data").style.display = "block";
        }
        console.log(Value);
    }
    //
    //Starof Apending Fucntionality
    //
    var New_Line =
    '<div class="form-group">' +
    '<label for="Name" class="col-sm-4 control-label">Character:</label>' +
    '<div class="col-sm-8 input">' +
        '<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required="required">' +
        '<br></br>' +
        '<label for="Alignment">Choose Your Alignment:</label>' +
        '<select id="Alignment" name="Alignment"> <option value="Lawful_Good">Lawful Good</option> <option value="Neutral_Good">Neutral Good</option> <option value="Chaotic_Good">Chaotic Good</option>    <option value="Lawful_Neutral">Lawful Neutral</option> <option value="True_Neutral">True Neutral</option> <option value="Chaotic_Neutral">Chaotic Neutral</option>      <option value="Lawful_Evil">Lawful Evil</option> <option value="Neutral_Evil">Neutral Evil</option> <option value="Chaotic_Evil">Chaotic Evil</option> </select>' +
        '<br></br>'+
    '</div>' +
    '</div>';

    $('#numNames').on('change', function (e) {
        var numSelected = Number($(this).val());
            appendControls(numSelected);
        });

    function appendControls(num) {
                $('#Apend_Container').empty();
        for (var i = 0; i < num; i++) {
            $('#Apend_Container').append(New_Line);
            }
    }
    //
    //End of Apending Fucntionality
    //

    //Ajax for intial values, Character Names and Alignment
    $(function () {  
        $("#Submit_Initial_Data").click(function () {  

            var Names = [];
            var Alignments = [];

            $("input[name='name']").each(function() {
                Names.push($(this).val());
            });
            console.log(Names);

            $("select[name='Alignment']").each(function () {
                Alignments.push($(this).val());
            });
            console.log(Alignments);

            $.ajax({  
                    type: "POST",  
                    url: '@Url.Action("Inital_Player_Data")', 
                    data:  JSON.stringify({ Names: Names, Alignments: Alignments}), 
                    dataType: "json",  
                    contentType: "application/json; charset=utf-8",  
                    success: function () {  
                        alert("Data has been added successfully.");
                        document.getElementById("Initial_Container").style.display = "none";
                        document.getElementById("Calculation_Container").style.display = "block";
                        WhoDidIt_Option();
                    },  
                    error: function () {  
                        alert("Error while inserting data");  
                    }  
            });
            return false;  
        });  
    });  

    //Filling the WhoDidIt selection with characters.
    function WhoDidIt_Option() {
        var Names = [];
        $("input[name='name']").each(function() {
            Names.push($(this).val());
        });

        var x = document.getElementById("WhoDidIt");
        var option = document.createElement("option");
        Names.forEach(function iterate(item) {
            var option = document.createElement("option");
            option.text = item;
            x.add(option);
        })
    }

    //Ajax Sending Calculation for WhoDidIt, FibValue, and User Event
    $(function () {  
        $("#Submit_Calculation_Data").click(function () {
            //Get the entered values
            var Character = $("#WhoDidIt option:selected").text()
            var FibValue = $("#FibVal option:selected").text()
            var UserEvent = $("#UserEvent").val();

            //Send the corect data to the controler based of the selected user
            
            var Names = [];
            var Alignments = [];
            var IndexOfName;
            var FindSelectedAlignment;

            $("input[name='name']").each(function() {
                Names.push($(this).val());
            });
            console.log(Names);

            $("select[name='Alignment']").each(function () {
                Alignments.push($(this).val());
            });

            IndexOfName = Names.indexOf(Character);
            if (IndexOfName == -1) {
                FindSelectedAlignment = 0;
            }
            else {
                FindSelectedAlignment = Alignments[IndexOfName];
            }
            
            $.ajax({  
                type: "POST",  
                url: '@Url.Action("Submit_Calculation_Data")',
                data: JSON.stringify({ Character: Character, FibValue: FibValue, UserEvent: UserEvent, SelectedAlignment: FindSelectedAlignment, Names: Names, Alignments: Alignments }), 
                dataType: "json",  
                contentType: "application/json; charset=utf-8",  
                success: function () {  
                    alert("Data has been added successfully.");
                },  
                error: function () {  
                    alert("Error while inserting data");  
                }  
            });
            debugger;
            return false;  
        });  
    });  




</script>