
@{
    ViewBag.Title = "Simulation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    #SIM1_Text, #SIM_1{
        display: inline-block;
        align-content:center;
    }
    #SIM2_Text, #SIM_2 {
        display: inline-block;
        align-content: center;
    }
    #SIM3_Text, #SIM_3 {
        display: inline-block;
        align-content: center;
    }
</style>

<h2>Beta Simulation</h2>

<div id="Simulation_Container" class="jumbotron">
    <div id="Simulation-1" class="Simulation" style="background-color: darkgrey; padding:2%;">
        <div id="SIM1_Text">
            <h3>Simulation 1</h3>
            <h4>Name: Blaine Hindman</h4>
            <h6>RFID: 12345678910</h6>
            <h6>Target Room: Wood Shop</h6>
            <h6>Target Machine: Sander</h6>
        </div>

        <img src="~/Content/Images/rfid.png" id="SIM_1" style="height:150px; float:right" />
    </div>
    <div id="Simulation-2" class="Simulation" style="background-color: darkgrey; padding:2%;">
        <div id="SIM2_Text">
            <h3>Simulation 2</h3>
            <h4>Name: John Smith</h4>
            <h6>RFID: 87826849271</h6>
            <h6>Target Room: Wood Shop</h6>
            <h6>Target Machine: Sander</h6>
        </div>

        <img src="~/Content/Images/rfid.png" id="SIM_2" style="height:150px; float:right" />
    </div>
    <div id="Simulation-3" class="Simulation" style="background-color: darkgrey; padding:2%;">
        <div id="SIM3_Text">
            <h3>Simulation 3</h3>
            <h4>Name: Jane Doe</h4>
            <h6>RFID: 98765432109</h6>
            <h6>Target Room: Metal Shop</h6>
            <h6>Target Machine: Metal Cutter</h6>
        </div>

        <img src="~/Content/Images/rfid.png" id="SIM_3" style="height:150px; float:right" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $("img").click(function (event) {
            var Simulation = $(this).attr("id");

            if (Simulation == "SIM_1") {
                RFID_TAG = "12345678910"
                MACHINE_NAME = "Sander"
            }
            if (Simulation == "SIM_2") {
                RFID_TAG = "87826849271"
                MACHINE_NAME = "Sander"
            }
            if (Simulation == "SIM_3") {
                RFID_TAG = "98765432109"
                MACHINE_NAME = "Metal Cutter"
            }
            debugger;
             $.ajax({
                type: "POST",
                url: '@Url.Action("Check_RFID")',
                data: JSON.stringify({
                    RFID_TAG: RFID_TAG, MACHINE_NAME: MACHINE_NAME
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                 success: function (return_data) {
                     if (return_data.result == true) {
                         swal({
                             title: "User Added!",
                             text: return_data.message,
                             icon: "success",
                         });
                     }
                     if (return_data.result == false) {
                         swal({
                             title: "Error!",
                             text: return_data.message,
                             icon: "warning",
                         });
                     }
                 },
                 error: function (return_data) {
                     swal({
                         title: "Error!",
                         text: "There was a problem submitting your data, check your inputs!",
                         icon: "warning",
                     });
                 },
            });


        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



