@model FIZ_Markerspace.Models.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit_Room", new { id = Model.room_id }) |
    @Html.ActionLink("Back to List", "View_Rooms")
</p>
