html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#Wigit-Page-Link {
    text-decoration: none;
    color: #212529;
}

.wigit-content-icons {
    width: 18px;
    height: auto;
}

#heart_icon:hover {
    width: 23px;
    height: auto;
}

#star_icon:hover {
    width: 23px;
    height: auto;
}

#eye_icon:hover {
    width: 23px;
    height: auto;
}