@model FIZ_Markerspace.Models.Machine

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form id="Create_Machine">
    <br />
    <label for="machine_name">Machine Name</label>
    <input id="machine_name" name="machine_name" class="form-control" placeholder="Machine Name" type="text" />
    <br />
    <label for="room_name">Room Name</label>
    <input id="room_name" name="room_name" class="form-control" placeholder="Room Name" type="text" />
    <br />
    <label for="service_level">Service Level</label>
    <input id="service_level" name="service_level" class="form-control" placeholder="Service Level" type="text" />
    <br />
    <label for="current_threshold">Current Threshold</label>
    <input id="current_threshold" name="current_threshold" class="form-control" placeholder="Current Threshold" type="text" />
    <br />
    <label for="role_access">Role Access</label>
    <select id="role_access" name="role_access" class="form-control">
        <option value="" disabled selected>Select Role</option>
        <option value="1">Student</option>
        <option value="2">Assistant</option>
        <option value="3">Room Mananger</option>
        <option value="4">Admin</option>
        <option value="5">IT</option>
    </select>
    <br />
    <input type="button" value="Submit" data-toggle="modal" data-target="#myModal" />
</form>


<div>
    @Html.ActionLink("Back to List", "View_Machines")
</div>

<script>
    $(document).ready(function () {
        $("#submit_authentication").click(function (event) {
            //Authentication Data
            var AUTH_WSU_ID = $("#auth_wsu_id").val();
            var AUTH_PASSWORD = $("#auth_password").val();
            //User Data
            var MACHINE_NAME = $("#machine_name").val();
            var ROOM_NAME = $("#room_name").val();
            var SERVICE_LEVEL = $("#service_level").val();
            var CURRENT_THRESHOLD = $("#current_threshold").val();
            var ROLE_ACCESS = $("#role_access").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create_Machine")',
                data: JSON.stringify({
                    //Authentication Data
                    AUTH_WSU_ID: AUTH_WSU_ID, AUTH_PASSWORD: AUTH_PASSWORD,
                    //Room Data
                    MACHINE_NAME: MACHINE_NAME, ROOM_NAME: ROOM_NAME, SERVICE_LEVEL: SERVICE_LEVEL,
                    CURRENT_THRESHOLD: CURRENT_THRESHOLD, CURRENT_THRESHOLD: CURRENT_THRESHOLD,
                    ROLE_ACCESS: ROLE_ACCESS
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (return_data) {
                    if (return_data.result == true) {
                        swal({
                            title: "Machine Added!",
                            text: return_data.message,
                            icon: "success",
                        });
                    }
                    if (return_data.result == false) {
                        swal({
                            title: "Error!",
                            text: return_data.message,
                            icon: "warning",
                        });
                    }
                },
                error: function (return_data) {
                    swal({
                        title: "Error!",
                        text: "There was a problem submitting your data, check your inputs!",
                        icon: "warning",
                    });
                },
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}