<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeWidgit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeWidgit.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img id="navbar-logo" src="~/lib/Images/Images/Logo_1_Rectangle.png" />
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Search">Search Widgits</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Users" asp-action="Index">Users (Temp)</a>

                    </div>
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link" id="signup" asp-area="" asp-controller="Home" asp-action="Sign_Up">Sign Up</a>
                        <a class="nav-item nav-link" id="login" asp-area="" asp-controller="Home" asp-action="Log_In">Log In</a>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
