

<div class="container-sm" id="signup_container">
    <h1>Sign Up!</h1>
    <form class="form-group" id="sign_up_form">
        <div class="form-group">
            <input class="form-control" id="sign_up_first_name" type="text" placeholder="First Name" />
        </div>
        <br />
        <div class="form-group">
            <input class="form-control" id="sign_up_last_name" type="text" placeholder="Last Name" />
        </div>
        <br />
        <div class="form-group">
            <input class="form-control" id="sign_up_username" type="text" placeholder="Username, e.g. 'BestCoder2022'" />
        </div>
        <br />
        <div class="form-group">
            <input class="form-control" id="sign_up_password" type="password" placeholder="Password" />
        </div>
        <br />
        <div class="form-group">
            <input class="form-control" id="sign_up_repassword" type="password" placeholder="Retype Password" />
        </div>
        <br />
        <div class="form-group">
            <input class="form-control" id="sign_up_birthday" type="date" placeholder="Password" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
