html{
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e6
    }

    30% {
        background-color: #66bf38
    }

    60% {
        background-color: #eb671f
    }

    90% {
        background-color: #f36
    }

    100% {
        background-color: #865cbf
    }
}
body{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin: 2ch;
}

#All_Container{
    background: rgba(211, 211, 211, 0.0);
    padding: 4ch;
    margin: 4ch;
}

#Intro_1, #MyTitle, #Results_Box, #All_Container{
    text-align: center;
}

#Intro_1{
    color: white;
}

#MyTitle{
    font-size: 8ch;
    color: white;
}

#Main_Container{
    padding: 2ch;
    margin: 5ch;
    border: 0.3ch solid white;
}

#Password_Input{
    margin: auto;
    display: block;
    text-align: center;
    background: rgba(211, 211, 211, 0.5);
    border: none;
    width: 70%;
    height: auto;
    padding: 2ch;
    font-size: 2.5ch;
}

textarea:focus, input:focus{
    outline: none;
}

footer{
    font-size: 1.5ch;
}

